/*
 * @Author: Tamir 
 * @Date: 2018-05-12 22:14:07 
 * @Last Modified by: Tamir
 * @Last Modified time: 2018-05-15 11:52:05
 */

@function px2rem($px) {
  $rem: 75px;
  @return ($px / $rem)+rem;
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

$bgColor: #00bcd4;
